td {
    border: 1px solid black;
    padding: 22px;
}

table {
    display: flex;
    flex-wrap: wrap;
    border-collapse: collapse;
    background-color: #DC9550;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.chessBoard-bg {
    width: 720px;
    height: 720px;
}

.chessBoard-bg-sm {
    width: 148px;
    height: 148px;
}